<!--<body ng-app="homepageApp" ng-controller="homepageCtrl">-->

<!--<h1>{{test}}</h1>-->

<!--<input type="text" ng-model="selected" typeahead="state for state in getStates() | filter:$viewValue | limitTo:8" class="form-control">-->



<!--<h3> What is going on</h3>-->
<div ng-app="googlePlace" ng-controller="googlePlaceCtrl">
  <div class="form-group move-down">
    <label for="Autocomplete2">Find people and stuff to do</label>
    <input type="text" id="Autocomplete2" class="form-control" ng-autocomplete options="options" details="details"/>
  </div>
</div>

