<!DOCTYPE html>
<html>
<head>
  <title>Friend</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>

  <%= csrf_meta_tags %>
</head>


<body ng-app="googlePlace" ng-controller="googlePlaceCtrl">
  <div class="form-group move-down">
    <label for="Autocomplete2">Find people and stuff to do</label>
    <input type="text" id="Autocomplete2" class="form-control" ng-autocomplete options="options" details="details"/>

    <h1>{{details}}</h1>
  </div>
</body>



