div(class="alert alert-success", role="alert", ng-if='flash.getMessage("success")') {{flash.getMessage("success")}}

row
    div#locationField(ng-init="init()")
        input#autocomplete.col-md-4(placeholder="Enter a city", type="text", ng-model="formattedAddress")

      div#controls
        select#country.col-md-2
          option(value="all") All
          option(value="au") Australia
          option(value="br") Brazil
          option(value="ca") Canada
          option(value="fr") France
          option(value="de") Germany
          option(value="mx") Mexico
          option(value="nz") New Zealand
          option(value="it") Italy
          option(value="za") South Africa
          option(value="es") Spain
          option(value="pt") Portugal
          option(value="us", selected) U.S.A.
          option(value="uk") United Kingdom

row
    div#map-canvas.col-md-12
