#listing {
  background-color: white;
  padding: 0px;

  -webkit-box-shadow: 0px 0px 8px 2px #000000;
  -moz-box-shadow: 0px 0px 8px 2px #000000;
  box-shadow: 0px 0px 8px 2px #000000;
}

.list-item {
  height: 100px;
  border: 1px solid #cccccc;
  width: 100%;
  padding: 10px;

  -webkit-transition-property: background, border-radius;
  -moz-transition-property: background, border-radius;
  -o-transition-property: background, border-radius;
  transition-property: background, border-radius;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}

.list-item:hover {
  background: #ff0073;
  border-radius: 50%;

}

#resultsTable {
  width: 100%;
}