<!DOCTYPE html>
<html>
<head>
  <title>Friend</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJ3anyogeNtJ9bICzKQQ_YIej2DUPjvJg&libraries=places&sensor=false"></script>

  <%= csrf_meta_tags %>
</head>

<body ng-app="mapApp" ng-controller="mapCtrl">

  <!--<li><a ui-sref="map">map</a></li>-->

  <ui-view></ui-view>

</body>
