<!DOCTYPE html>
<html>
<head>
  <title>Friend</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJ3anyogeNtJ9bICzKQQ_YIej2DUPjvJg&libraries=places&sensor=false"></script>

  <%= csrf_meta_tags %>
</head>

<body ng-app="mapApp" ng-controller="mapCtrl" ng-init="init()">

  <div id="locationField">
    <input id="autocomplete" placeholder="Enter a city" type="text" />
  </div>

  <div id="controls">
    <select id="country">
      <option value="all">All</option>
      <option value="au">Australia</option>
      <option value="br">Brazil</option>
      <option value="ca">Canada</option>
      <option value="fr">France</option>
      <option value="de">Germany</option>
      <option value="mx">Mexico</option>
      <option value="nz">New Zealand</option>
      <option value="it">Italy</option>
      <option value="za">South Africa</option>
      <option value="es">Spain</option>
      <option value="pt">Portugal</option>
      <option value="us" selected>U.S.A.</option>
      <option value="uk">United Kingdom</option>
    </select>
  </div>

  <div id="map-canvas"></div>
</body>
