<!DOCTYPE html>
<html>
<head>
  <title>Friend</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>

  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
  <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script>-->

  <%= csrf_meta_tags %>
</head>
<body>

<div ng-app="Test" ng-controller="TestCtrl">

  <form id="form" role="form">

    <div class="form-group move-down">
      <label for="Autocomplete">Generic Autocomplete</label>
      <input type="text" id="Autocomplete" class="form-control" ng-autocomplete="result1" details="details1" options="options1"/>
    </div>
    <div>result: {{result}}</div>

  </form>
</div>

<%= yield %>

</body>
</html>
